@using GraphicsEvaluatePlatform.Service;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>项目管理</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-table.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-tab.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/tree.css" />
    <link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap/bootstrap-tab.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap/bootstrap-table.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap/bootstrap-table-zh-CN.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/layer/layer.js" type="text/javascript"></script>
    <script src="~/Scripts/public.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap/bootstrap-treeview.js" type="text/javascript"></script>
    <style>
        #keyword::-webkit-input-placeholder {
            color: #afe3ff;
        }
    </style>
</head>
<body class="content-body">
    <div class="main_content">
        <div class="main_head">
            <div class="container_title">项目管理</div>
            <div class="container_btn" id="btnGroup">
                @*<button class="button button_blue" onclick="addProject()">新增
                    </button><button class="button button_blue" onclick="editProject()">修改
                    </button><button class="button button_orange" onclick="deleteProject()">删除
                    </button><button class="button button_blue" onclick="ExportProjects()">导出
                    </button><input class="title_search" id="keyword"/><button class="button button_blue" onclick="searchProject()">搜索</button>
                    <div class="head-icon-right01"><img class="logo-img" src="~/Images/pic02.png" /></div>*@
            </div>
        </div>
        <div class="main_force">
            <div class="main_table_box">
                <div class="main_center_icon01"><img src="~/Images/pic03.png" /></div>
                <div class="main_center_icon02"><img src="~/Images/pic04.png" /></div>
                <div class="scroll_patch"></div>
                <div class="main_table_left">
                    <div class="left_tree" id="project_tree"></div>
                </div>
                <div class="main_table_center">
                    <div class="main_table_con">
                        <table class="table" id="project_table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* 新建弹窗 开始 *@
    <script id="projectAddWin" type="text/html">
        <div class="win_box02">
            <div class="win_box02_1">
                <div class="win_box02_2">
                    <div class="win_input_box">
                        <div class="win_input_center">
                            <label for="inputPassword">所属机构：</label>
                            <input type="text" class="win_input02" id="unit_name" value="" style="width:400px;" readonly /><span class="Required">*</span>
                            <input type="hidden" id="unit" />
                            <div id="unitTree" style="display: none;min-width:400px" class="tree"></div>
                        </div>
                    </div>
                    <div class="win_input_box">
                        <div class="win_input_center">
                            <label for="inputPassword">项目名称：</label>
                            <input type="text" class="win_input" id="p_Name" value="" style="width:400px;" /><span class="Required">*</span>
                        </div>
                    </div>
                    <div class="win_input_box">
                        <div class="win_input_center">
                            <label for="inputPassword">负责人：</label>
                            <input type="text" class="win_input" id="p_Contactor" placeholder="" style="width:400px;" /><span class="Required">*</span>
                        </div>
                    </div>
                    <div class="win_input_box">
                        <div class="win_input_center">
                            <label for="inputPassword">地区：</label>
                            <input type="text" class="win_input" id="p_Region" placeholder="" style="width:400px;" /><span class="Required">*</span>
                        </div>
                    </div>
                    <div class="win_textarea_box">
                        <div class="win_textarea_center">
                            <label for="inputPassword">备注：</label>
                            <textarea class="win_textarea" rows="3" id="p_Remarks" style="width:400px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    @* 新建弹窗 结束 *@

    <script type="text/javascript">

        var unitID = '-1';//机构ID全局变量

        $(function () {
            loadControl();
            getProjectList();
            getUnit();
            //$('#project_tree').treeview('selectNode', ['-1', { silent: true, ignoreChildren: false }]);;
            $(window).resize(function () {
                $('#project_table').bootstrapTable('resetView', {
                    height: $(window).height() - 74.5
                });
            });
        });

        //获取左侧机构树
        function getUnit() {
            $.ajax({
                type: "get",
                url: '/api/UnitManage/GetUnitCombotree',
                dataType: "json",
                async: false,
                success: function (result) {
                    var json = JSON.parse(result);
                    json[0].state = { selected: true };
                    $('#project_tree').treeview({
                        data: json,         // 数据源
                        highlightSelected: true,    //是否高亮选中
                        multiSelect: false,    //多选
                        nodeSelected: function (event, node) {

                        },
                        onNodeExpanded: function (event, data) { },

                        onNodeSelected: function (event, data) {
                            //alert(data.nodeId);
                        }

                    });
                    $('#project_tree').on('nodeSelected', function (event, data) {
                        unitID = data.id;
                        getProjectList();
                    });
                }
            });
        }


        /**********************************获取项目列表 start **********************************/
        function getProjectList() {
            $('#project_table').bootstrapTable('destroy');
            $('#project_table').bootstrapTable({
                url: '/api/projectManagement/GetProjectsList',
                contentType: 'application/x-www-form-urlencoded',
                queryParamsType: "undefined",
                method: 'get',
                queryParams: function queryParams(params) {   //设置查询参数
                    var keyWord = $.trim($('#keyword').val());
                    var param = {
                        filter: keyWord + ",UID:" + unitID,
                        PageSize: params.pageSize,
                        PageIndex: params.pageNumber
                    };
                    return param;
                },
                checkboxHeader: true,
                pagination: true,
                pageNumber: 1,
                pageSize: 10,
                striped: true,
                height: $('.main_table_con').height() - 1,
                sidePagination: "server", //表示服务端分页
                pageList: [10, 20, 30, 50, 100],
                paginationLoop: false,
                clickToSelect: true,
                paginationpretext: '上一页',
                paginationnexttext: '下一页',
                columns: [
                    { field: 'p_Id', visible: false },
                    { checkbox: true, halign: 'center', width: '3%' },
                    //{ field: 'rownumber', title: '序号', halign: 'center', align: 'center', width: '3%' },
                    {
                        field: 'p_Name', title: '项目名称', halign: 'left', width: '20%', formatter: function (value, row, index) {
                            return "<span class=\"hxm\" title=\"" + value + "\">" + value + "</span>";
                        }
                    },
                      {
                          field: 'p_UnitName', title: '所属单位', halign: 'left', width: '20%', formatter: function (value, row, index) {
                              return "<span class=\"hxm\" title=\"" + value + "\">" + value + "</span>";
                          }
                      },
                    {
                        field: 'p_Region', title: '地区(省/市)', halign: 'left', width: '20%', formatter: function (value, row, index) {
                            return "<span class=\"hxm\" title=\"" + value + "\">" + value + "</span>";
                        }
                    },
                    {
                        field: 'p_Contactor', title: '负责人', halign: 'left', width: '10%', formatter: function (value, row, index) {
                            return "<span class=\"hxm\" title=\"" + value + "\">" + value + "</span>";
                        }
                    },
                    //{
                    //    field: 'p_DataSize', title: '数据大小', halign: 'left', width: '10%', formatter: function (value, row, index) {
                    //        return "<span class=\"hxm\" title=\"" + value + "\">" + value + "</span>";
                    //    }
                    //},
                    {
                        field: 'p_DataTime', title: '创建时间', halign: 'left', width: '15%', formatter: function (value, row, index) {
                            return "<span class=\"hxm\" title=\"" + value + "\">" + value + "</span>";
                        }
                    },
                    {
                        field: 'p_Remarks', title: '备注', halign: 'left', width: '22%', formatter: function (value, row, index) {
                            return "<span class=\"hxm\" title=\"" + value + "\">" + value + "</span>";
                        }
                    }
                ],
                responseHandler: function (res) {
                    res = eval('(' + res + ')');
                    return {
                        "total": res.total,
                        "rows": res.rows
                    };
                },
                onLoadSuccess: function (data) {

                }
            });
        }
        /**********************************获取项目列表 stop **********************************/


        /**********************************新增，修改功能 start **********************************/
        function addProject() {
            var unit = $('#project_tree').treeview('getSelected');
            if (unit.length == 0) {
                layer.alert('请选择机构！', {
                    icon: 0,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }
            layer.open({
                title: '新增项目',
                type: 1,
                area: ['600px', '400px'],
                btn: ['确定', '取消'],
                btnAlign: 'c',
                content: $('#projectAddWin').html(),
                yes: function (index, layero) {
                    addSave(index);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            });
            getUnitTree('unit_name', 'unitTree', 'unit');
            $('#unit_name').val(unit[0].text);
            $('#UnitID').val(unit[0].id);
        }

        //新增/修改确定
        function addSave(farIndex, type, data) {
            var p_UnitName = getValueAndValidate('unit_name');//单位名称
            var p_UnitId = getValueAndValidate('unit');//单位id
            if (p_UnitId == '') {
                layer.alert('机构不能为空！', {
                    title: '提示',
                    icon: 2,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }
            var p_Name = getValueAndValidate('p_Name');
            if (p_Name == '') {
                layer.alert('项目名不能为空！', {
                    title: '提示',
                    icon: 2,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }
            var p_Contactor = getValueAndValidate('p_Contactor');
            if (p_Contactor == '') {
                layer.alert('负责人不能为空！', {
                    title: '提示',
                    icon: 2,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }
            var p_Region = getValueAndValidate('p_Region');
            if (p_Region == '') {
                layer.alert('地区不能为空！', {
                    title: '提示',
                    icon: 2,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }
            var p_Remarks = getValueAndValidate('p_Remarks');

            var url = "";
            var meth = "";
            var data;
            if (type != undefined && type != null && type == 'edit') {
                data = { p_Id: data[0].p_Id, p_UnitId: p_UnitId, p_UnitName: p_UnitName, p_Name: p_Name, p_Contactor: p_Contactor, p_Region: p_Region, p_Remarks: p_Remarks }
                url = "/api/ProjectManagement/Edit";
                meth = "put";
            } else {
                data = { p_UnitId: p_UnitId, p_UnitName: p_UnitName, p_Name: p_Name, p_Contactor: p_Contactor, p_Region: p_Region, p_Remarks: p_Remarks }
                url = "/api/ProjectManagement/AddProject";
                meth = "post";
            }

            operationAction({
                url: url, data: data, type: meth, successRollback: function (res) {
                    if (res.Success) {
                        layer.alert(res.Message, {
                            title: '提示',
                            icon: 1,
                            yes: function (index) {
                                layer.close(farIndex);
                                layer.close(index);
                                $('#project_table').bootstrapTable('refresh');
                            }
                        });
                    } else {
                        layer.alert(res.Message, {
                            title: '提示',
                            icon: 2,
                            yes: function (index) {
                                layer.close(index);
                            }
                        });
                    }
                }

            });
        }

        //修改项目
        function editProject() {
            var row = $('#project_table').bootstrapTable('getSelections');
            if (!row || row == null || row.length == 0) {
                layer.alert('请选择要修改的行！', {
                    title: "提示",
                    icon: 0,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }
            if (row.length > 1) {
                layer.alert('每次只能选择一行修改！', {
                    title: "提示",
                    icon: 0,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }
            layer.open({
                title: '修改项目',
                type: 1,
                area: ['600px', '400px'],
                btn: ['确定', '取消'],
                btnAlign: 'c',
                content: $('#projectAddWin').html(),
                yes: function (index, layero) {
                    addSave(index, 'edit', row);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            });
            getUnitTree('unit_name', 'unitTree', 'unit');
            $('#unit_name').val(row[0].p_UnitName);
            $('#unit').val(row[0].p_UnitId);
            $('#p_Name').val(row[0].p_Name);
            $('#p_Contactor').val(row[0].p_Contactor);
            $('#p_Region').val(row[0].p_Region);
            $('#p_Remarks').val(row[0].p_Remarks);
        }
        /**********************************新增，修改功能 stop **********************************/

        /**********************************删除功能 start **********************************/
        //删除项目
        function deleteProject() {
            var row = $('#project_table').bootstrapTable('getSelections');
            if (!row || row == null || row.length == 0) {
                layer.alert('请选择要删除的行！', {
                    title: '提示',
                    icon: 0,
                    yes: function (index) {
                        layer.close(index);
                    }
                });
                return;
            }

            layer.confirm('确定要删除选中的数据吗？', {
                title: '提示',
                icon: 3,
                btn: ['确定', '取消'] //按钮
            }, function () {
                var ids = '';
                for (var i = 0; i < row.length; i++) {
                    ids += row[i].p_Id + ',';
                }
                ids = ids.substring(0, ids.length - 1);

                operationAction({
                    url: '/api/ProjectManagement/Delete', data: ids, type: 'delete', successRollback: function (res) {
                        if (res.Success) {
                            layer.alert(res.Message, {
                                icon: 1,
                                yes: function (index) {
                                    layer.close(index);
                                    $('#project_table').bootstrapTable('refresh');
                                }
                            });
                        } else {
                            layer.alert(res.Message, {
                                icon: 2,
                                yes: function (index) {
                                    layer.close(index);
                                }
                            });
                        }

                    }
                });
            }, function () {

            });
        }
        /**********************************删除功能 stop **********************************/

        /**********************************搜索功能 start **********************************/
        

        //搜索项目
        function searchProject() {
            var keyWord = $.trim($('#keyword').val());
            if (!keyWord || keyWord == '') {
                getProjectList();
                return;
            }
            getProjectList();
        }
        /**********************************搜索功能 stop **********************************/

        /**********************************导出功能 start **********************************/
        function ExportProjects() {
            var keyWord = $.trim($('#keyword').val());//搜索关键字       
            var unitId = unitID;//用户选中的单位id
            var ids = "";//用户选中的条目id
            var row = $('#project_table').bootstrapTable('getSelections');
            for (var i = 0; i < row.length; i++) {
                ids += row[i].p_Id + '|';
            }
                ids = ids.substring(0, ids.length - 1);

            window.location.href = "/api/projectManagement/ExportProjects?value=" + keyWord + '&ids=' + ids + '&unitId=' + unitId;
        }
        /**********************************导出功能 stop **********************************/

        function loadControl() {
            var controlMenuHtml = "";
            if (parent.checkUserAndPermission('/api/ProjectManagement/AddProject')) {
                controlMenuHtml += "<button class=\"button button_blue\" onclick=\"addProject()\">新增</button>";
            }
            if (parent.checkUserAndPermission('/api/ProjectManagement/Edit')) {
                controlMenuHtml += "<button class=\"button button_blue\" onclick=\"editProject()\">修改</button>";
            }
            if (parent.checkUserAndPermission('/api/ProjectManagement/Delete')) {
                controlMenuHtml += "<button class=\"button button_orange\" onclick=\"deleteProject()\">删除</button>";
            }
            if (parent.checkUserAndPermission('/api/ProjectManagement/ExportProjects')) {
                controlMenuHtml += "<button class=\"button button_blue\" onclick=\"ExportProjects()\">导出</button>";
            }
            controlMenuHtml += "<input class=\"title_search\" id=\"keyword\" placeholder=\"请输入项目名称查询！\"/><button class=\"button button_blue\" onclick=\"searchProject()\">搜索</button>";
            controlMenuHtml += "<div class=\"head-icon-right01\"><img class=\"logo-img\" src=\"../Images/pic02.png\" /></div>";
            $('#btnGroup').html(controlMenuHtml);//将控件加入页面
            //搜索回车
            $('#keyword').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    getProjectList();
                    return;

                }
            });
        }

    </script>
</body>
</html>
@Html.Raw(StaticVariable.GetPermissionAlert())
