<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 1：SQLSERVER  1：MYSQL 2:ORACLE-->
    <add key="DBWay" value="2" />
    <add key="MYSQLCONSTR" value="Host=192.168.1.102;UserName=root;Password=123456;Database=graphicsevaluateplatform;Port=3306;CharSet=utf8;Allow Zero Datetime=true;sslmode=none;Old Guids=true;" />

    <!--客户端版本：1-网络版 ，2-单机版-->
    <add key="ClientType" value="1"/>
    <!--API访问路径-->
    <add key="WEBAPIURL" value="http://localhost:15356/" />
    <!--webApi同步数据接口-->
    <add key="GetUsersData" value="api/WPFClientAPI/GetUsersData" />
    <add key="GetUnitData" value="api/WPFClientAPI/GetUnitData" />
    <add key="GetObjectData" value="api/WPFClientAPI/GetObjectData" />
    <add key="GetDetectionSettingsData" value="api/WPFClientAPI/GetDetectionSettingsData" />
    <add key="GetVersionData" value="api/WPFClientAPI/GetVersionData"/>
    <!--webApi同步数据接口-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>